<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>

<table class="table" style="margin-top: 30px;">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.user.name %></td>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', blog, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog',new_blog_path, class: 'btn btn-success' %>
